/* =========================================
   REGISTER
========================================= */

.auth__checkbox {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  color: var(--color-text-secondary);

  font-size: 11px;
  line-height: 1.5;

  cursor: pointer;
}

.auth__checkbox input {
  width: 16px;
  height: 16px;

  flex-shrink: 0;

  margin: 0;

  accent-color: var(--color-black);

  cursor: pointer;
}

.auth__checkbox a {
  color: var(--color-black);

  text-decoration: underline;
  text-underline-offset: 3px;
}

/* BONUS */

.auth__bonus {
  display: flex;
  flex-direction: column;
  gap: 6px;

  margin-top: 24px;
  padding: 18px;

  background-color: var(--color-surface);
}

.auth__bonus strong {
  font-size: 13px;
  font-weight: 600;
}

.auth__bonus span {
  color: var(--color-text-secondary);

  font-size: 11px;
  line-height: 1.5;
}
